.App {
  text-align: center;
}

.mdl-layout__drawer-button {
  color: grey !important;
}

a {
  color: black !important;
}

.header-bar {
  background: white !important;
}

.header-bar a:hover {
  text-decoration: underline;
}

.header-bar a:active {
  text-decoration: line-through;
}
