@font-face {
  font-family: 'Lars Sans';
  src: url('./assets/fonts/Lars-Light.eot');
  src: url('./assets/fonts/Lars-Light.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/Lars-Light.woff2') format('woff2'),
       url('./assets/fonts/Lars-Light.woff') format('woff');
}
@font-face {
  font-family: 'Lars Mono';
  src: url('./assets/fonts/Lars-Mono.eot');
  src: url('./assets/fonts/Lars-Mono.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/Lars-Mono.woff2') format('woff2'),
       url('./assets/fonts/Lars-Mono.woff') format('woff');
}

.App {
  text-align: center;
  font-family: 'Lars Sans', sans-serif !important;
  margin-top: 30px !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  -webkit-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning: normal;
}

h1 {
  font-family: 'Lars Mono', sans-serif !important;
}

h2, h3, h4, h5 {
  font-family: 'Lars Sans', sans-serif !important;
}

a, p {
  font-family: 'Lars Sans', sans-serif !important;
  font-size: 16px !important;
}

.mdl-layout__drawer-button {
  color: grey !important;
}

a {
  color: inherit !important;
}

#header-bar {
  background-color: white;
  position: fixed;
}
#header-bar.dark-mode a{
  color: #ddd !important;
}

#header-bar a:hover {
  text-decoration: underline;
}

#header-bar a:active {
  text-decoration: line-through;
}

#page-container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px;
  padding: 1rem;
}

#toggle-light {
  z-index: 3;
  background: none;
  color: inherit;
  border: 0;
  font-size: 1rem;
  position: absolute;
  top: 0;
  line-height: 1;
  right: 0;
  padding: 0.75rem;
  outline: 0;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.mdl-layout__drawer-button {
  position: sticky !important;
}

svg {
  height: 2rem;
  width: 2rem;
}
svg path {
  transform-origin: 50% 50%;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}
#toggle-light.light-mode svg path {
  transition-delay: 125ms;
}
#toggle-light.dark-mode svg path {
  opacity: 0;
  transform: scale(0.8);
}
#orb {
  transform-origin: 50% 50%;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
  transform: translate(30px, 30px);
}
#cut {
  transition: transform 150ms ease-out, opacity 150ms ease-out;
  transform-origin: 50% 50%;
  transform: translate(30px, -30px);
}
#toggle-light.dark-mode #cut {
  transform: translate(10px, -10px);
  transition-delay: 125ms;
  fill: rgb(0,0,0);
}
#toggle-light.dark-mode #orb {
  transform: scale(1.3) translate(30px, 30px);
  transition-delay: 125ms;
  fill: white;
}
#toggle-light.light-mode #cut {
  transform: translate(10px, -10px);
  transition-delay: 125ms;
  display: none;
}
#toggle-light.light-mode #orb {
  transform: scale(1.05) translate(30px, 30px);
  transition-delay: 125ms;
  fill: black;
}

.light-mode {
  background-color: #fff ;
  color: #111;
  transition: background-color 0s ease-out;
}
.dark-mode {
  background-color: #1a1919 !important;
  color: #eee !important;
  transition: background-color 0s ease-out;
}

.fix-margin p {
  margin: 0;
}
.fix-margin a {
  text-decoration: underline;
}

/* Home Page */
.homepage-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle; 
  height: 90vh;
}

/* About Page */
.about-grid-info {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.about-grid-info h1 {
  margin: 0;
  font-size: 250%;
}

.download-resume {
  text-decoration: underline !important;
}

.pp {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 2rem;
  height: 90px;
  width: 90px;
  background-image: url('./assets/pp.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

.about-skills-subtitle {
  margin-top: 0;
}

/* Feed Page */
#feed-container {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

.post-container {
  padding: 0 1rem 4rem;
  display: block;
}

.map-container {
  display: flex;
  width: 100%;
  height: 375px;
}

.map-marker {
  color: red;
}

.post-card {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.post-card p {
  padding: 0px 40px;
}

.post-container h1 {
  text-align: center !important;
}

.post-card-title {
  text-align: center;
}

.continue-button {
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
  line-height: 1;
  border-radius: 3rem;
  border: 1px solid;
  text-align: center;
  width: 100%;
  max-width: 15rem;
  margin: 0 auto;
}

/* Contact Page  */
.contact-icons i {
  font-size: 2em;
  padding: 2px;
}

.contact-icons p {
  margin: 0;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #toggle-light {
    right: 0;
  }

  .small {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #toggle-light {
    right: 50%;
  }

  .map-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: grey;
  }

  #feed-container {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 50%;
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #toggle-light {
    right: 50%;
  }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #toggle-light {
    right: 50%;
  }
}